<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="webapp/images/favicon.png">
    <title>FinSPETSEL</title>
    <!-- Custom CSS -->
    
    <!-- Custom CSS -->
    <link href="webapp/css/normalize.css" rel="stylesheet">  
    <link href="webapp/css/style.css" rel="stylesheet">
    <link href="webapp/css/main.css" rel="stylesheet">    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<!-- *************************************************************** -->
<!-- Главная обертка для всего сайта -->
<!-- *************************************************************** -->
<div class="vip-wrapper">
    
    <!-- *************************************************************** -->
    <!-- Верхнее Меню -->
    <!-- *************************************************************** -->
    <header class="topbar">

        <nav class="navbar top-navbar navbar-expand-md">
            <div class="navbar-header">
                 <div class="navbar-brand">
                    <!-- Logo icon -->
                    <a href="index.html">
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img src="webapp/images/logo-icon.png" alt="homepage1" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="webapp/images/logo-text.png" alt="homepage2" />
                        </span>
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                    <!-- Кнопка СОЗДАТЬ НОВЫЙ ПРОЕКТ  -->
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link" href="javascript:void(0)">
                            <button type="button" class="btn btn-rounded btn-outline-secondary" data-toggle="modal"
                                    data-target="#fill-primary-modal">Создать проект</button>
                        </a>
                    </li>
                </ul>

                <!-- Меню  -->
                <nav class="nav_modify">
                    <form action="/Contragents" method="post">
                        <button type="submit" class="nav-item_modify">Контрагенты</button>
                    </form>
                    <form action="/Projects" method="post">
                        <button type="submit" class="nav-item_modify">Проекты</button>
                    </form>
                    <form action="/Reports" method="post">
                        <button type="submit" class="nav-item_modify">Отчеты</button>
                    </form>
                    <span class="nav-indicator_modify"></span>
                </nav>
            </div>
        </nav>


        <!-- Primary Filled Modal -->
            <div id="fill-primary-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="fill-primary-modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-filled bg-primary">
                        <div class="modal-header">
                            <h4 class="modal-title" id="fill-primary-modalLabel">Создать новый проект</h4>
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <form class="pl-3 pr-3" action="#">

                                
                                    <input class="form-control" name="createProject" type="text"placeholder="Например: Продажа мебели">
                                

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light"
                                data-dismiss="modal">Отмена</button>
                            <button type="button" class="btn btn-outline-light">Сохранить</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        
    </header>


    

    <!-- *************************************************************** -->
    <!-- Левое Меню -->
    <!-- *************************************************************** -->

    <section class="left-menu">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="left-menu-nav">
                <ul id="left-menunav">

                   
                   <!-- Заголовок раздела -->
                    <li class="nav-small-cap"><span class="hide-menu">Бизнес отчеты</span></li> 
                    <!-- Заголовок раздела -->
                    <li id="2rowid" class="left-menu-item left-menu-selected-link">
                        <input type="button" class="left-menu-link finsproject_list_row" projnum="1" value="Аналитика"><!--класс finsproject_list_row дял скрипта-->
                    </li>
                    
                    <!-- Разделитель между разделами -->
                    <li class="list-divider"></li> 

                    <!-- Заголовок раздела -->
                    <li class="nav-small-cap"><span class="hide-menu">Ваши проекты</span></li> 

                    <!-- Ссылка на проект -->
                    <li id="2rowid" class="left-menu-item">
                        <input type="button" class="left-menu-link finsproject_list_row" projnum="2" value="TestProject 1"><!--класс finsproject_list_row дял скрипта-->
                    </li>

                    <!-- Ссылка на проект -->
                    <li id="2rowid" class="left-menu-item">
                        <input type="button" class="left-menu-link finsproject_list_row" projnum="3" value="TestProject 2"><!--класс finsproject_list_row дял скрипта-->
                    </li>

                    <li id="2rowid" class="left-menu-item">
                        <input type="button" class="left-menu-link finsproject_list_row" projnum="4" value="TestProject 3"><!--класс finsproject_list_row дял скрипта-->
                    </li>

                    <!-- Разделитель между разделами -->
                    <li class="list-divider"></li> 


                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </section>
    



    <!-- *************************************************************** -->
    <!-- Центральная часть -->
    <!-- *************************************************************** -->

    <section class="page-wrap">
        <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Продажа дерева и прочих материалов</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mt-2 p-0">
                                    <li class="breadcrumb-item text-muted active" aria-current="page"><a href="index.html">Ваши проекты</a></li>
                                    <li class="breadcrumb-item text-muted" aria-current="page">Проект</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-5 align-self-center">
                        <div class="customize-input float-right">
                            <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                                <option selected="">За все время</option>
                                <option value="1">Сегодня</option>
                                <option value="2">Вчера</option>
                                <option value="3">Последние 7 дней</option>
                                <option value="4">Последние 30 дней</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
            </div>

            
        <div class="container-fluid">

                <!-- *************************************************************** -->
                <!-- Карточка с формой -->
                <!-- *************************************************************** -->

                <div class="row">
                    <div class="col-sm-12 col-md-8">

                        
                        <div class="card"> <!-- модуль c формой -->
                            <div class="card-body">

                                <!-- Шапка с полями РАСХОД ПЕРЕВОД ПРИХОД -->
                                <ul class="nav nav-tabs nav-justified nav-bordered mb-5">
                                    <li class="nav-item">
                                        <a href="#" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block font-weight-medium">- РАСХОД</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" data-toggle="tab" aria-expanded="true" class="nav-link">
                                            <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block font-weight-medium">→ ПЕРЕВОД</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                            <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block font-weight-medium">+ ПРИХОД </span>
                                        </a>
                                    </li>
                                </ul>

                                <!-- Форма с полями -->
                                <form action="#">
                                    <div class="form-body">

                                        <!-- Поле ввода -->
                                        <div class="form-group">
                                            
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Дата операции</label>
                                                <div class="col-lg-9 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" class="form-control">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                         <!-- Поле ввода -->
                                        <div class="form-group">
                                            
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Сумма</label>
                                                <div class="col-lg-9 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" class="form-control">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                            
                                        </div>


                                         <!-- Поле ввода -->
                                        <div class="form-group">
                                            
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Детали</label>
                                                <div class="col-lg-9 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" class="form-control">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                         <!-- Поле ввода -->
                                        <div class="form-group">
                                            
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Контрагент</label>
                                                <div class="col-lg-9 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <input type="text" class="form-control">
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                            
                                        </div>


                                        <!-- Поле ввода в виде выпадающего списка -->
                                        <div class="form-group">
                                            
                                            <div class="row">
                                                <label class="col-lg-3 align-self-center">Реквизиты</label>
                                                <div class="col-lg-9 align-self-center">
                                                     <div class="row">
                                                         <div class="col-md-12">
                                                             <div class="customize-input">
                                                                <select class="custom-select form-control">
                                                                    <option selected>EN</option>
                                                                    <option value="1">AB</option>
                                                                    <option value="2">AK</option>
                                                                    <option value="3">BE</option>
                                                                </select>
                                                            </div>
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>

                                    <!-- Кнопки для записи в БД -->
                                    <div class="form-actions">
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-info">Сохранить</button>
                                            <button type="reset" class="btn btn-dark">Отменить</button>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div> <!-- модуль c формой .end -->


                        <div class="card"><!-- модуль фильтр -->
                            <div class="card-body">
                             
                                    <div class="row">
                                        <div class="col-md-6 align-self-center">
                                            <h5 class="text-muted font-weight-light mb-0 w-100 text-truncate">Поиск нужной операции</h5>
                                        </div>
                                        <div class="col-md-6 align-self-center">
                                            <div class="text-right">
                                                <button class="btn btn-outline-secondary ml-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                                                Фильтр
                                                </button>
                                            </div> 
                                        </div>
                                    </div>
                                            

                                    <div class="collapse hide mt-3" id="collapseExample" style="">
                                    <!-- Форма с полями -->
                                    <form action="#">
                                        <div class="form-body">


                                            <!-- Поле ввода в виде выпадающего списка -->
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    <label class="col-lg-3 align-self-center">Тип операции</label>
                                                    <div class="col-lg-9 align-self-center">
                                                         <div class="row">
                                                             <div class="col-md-12">
                                                                 <div class="customize-input">
                                                                    <select class="custom-select form-control bg-dark text-white">
                                                                        <option selected>Все</option>
                                                                        <option value="1">- Расход</option>
                                                                        <option value="2">→ Перевод</option>
                                                                        <option value="3">+ Приход</option>
                                                                    </select>
                                                                </div>
                                                             </div>
                                                         </div>
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <!-- Поле ввода -->
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    <label class="col-lg-3 align-self-center">Сумма от</label>
                                                    <div class="col-lg-3 align-self-center">
                                                         <div class="row">
                                                             <div class="col-md-12">
                                                                 <input type="text" class="form-control">
                                                             </div>
                                                         </div>
                                                    </div>
                                                    <label class="col-lg-1 align-self-center">до</label>
                                                    <div class="col-lg-3 align-self-center">
                                                         <div class="row">
                                                             <div class="col-md-12">
                                                                 <input type="text" class="form-control">
                                                             </div>
                                                         </div>
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <!-- Поле ввода в виде выпадающего списка -->
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    <label class="col-lg-3 align-self-center">Статьи</label>
                                                    <div class="col-lg-9 align-self-center">
                                                         <div class="row">
                                                             <div class="col-md-12">
                                                                 <div class="customize-input">
                                                                    <select class="custom-select form-control">
                                                                        <option selected>EN</option>
                                                                        <option value="1">AB</option>
                                                                        <option value="2">AK</option>
                                                                        <option value="3">BE</option>
                                                                    </select>
                                                                </div>
                                                             </div>
                                                         </div>
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <!-- Поле ввода в виде выпадающего списка -->
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    <label class="col-lg-3 align-self-center">Контрагенты</label>
                                                    <div class="col-lg-9 align-self-center">
                                                         <div class="row">
                                                             <div class="col-md-12">
                                                                 <div class="customize-input">
                                                                    <select class="custom-select form-control">
                                                                        <option selected>EN</option>
                                                                        <option value="1">AB</option>
                                                                        <option value="2">AK</option>
                                                                        <option value="3">BE</option>
                                                                    </select>
                                                                </div>
                                                             </div>
                                                         </div>
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <!-- Поле ввода в виде выпадающего списка -->
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    <label class="col-lg-3 align-self-center">Компании</label>
                                                    <div class="col-lg-9 align-self-center">
                                                         <div class="row">
                                                             <div class="col-md-12">
                                                                 <div class="customize-input">
                                                                    <select class="custom-select form-control">
                                                                        <option selected>EN</option>
                                                                        <option value="1">AB</option>
                                                                        <option value="2">AK</option>
                                                                        <option value="3">BE</option>
                                                                    </select>
                                                                </div>
                                                             </div>
                                                         </div>
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <!-- Поле ввода в виде выпадающего списка -->
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    <label class="col-lg-3 align-self-center">Счета</label>
                                                    <div class="col-lg-9 align-self-center">
                                                         <div class="row">
                                                             <div class="col-md-12">
                                                                 <div class="customize-input">
                                                                    <select class="custom-select form-control">
                                                                        <option selected>EN</option>
                                                                        <option value="1">AB</option>
                                                                        <option value="2">AK</option>
                                                                        <option value="3">BE</option>
                                                                    </select>
                                                                </div>
                                                             </div>
                                                         </div>
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <!-- Поле ввода в виде выпадающего списка -->
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    <label class="col-lg-3 align-self-center">Проекты</label>
                                                    <div class="col-lg-9 align-self-center align-self-center">
                                                         <div class="row">
                                                             <div class="col-md-12">
                                                                 <div class="customize-input">
                                                                    <select class="custom-select form-control">
                                                                        <option selected>EN</option>
                                                                        <option value="1">AB</option>
                                                                        <option value="2">AK</option>
                                                                        <option value="3">BE</option>
                                                                    </select>
                                                                </div>
                                                             </div>
                                                         </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>

                                        <!-- Кнопки для записи в БД -->
                                        <div class="form-actions">
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-info">Поиск операции</button>
                                                <button type="reset" class="btn btn-dark">Отменить</button>
                                            </div>
                                        </div>


                                    </form>
                                        
                                    </div>
                                
                            </div>
                        </div><!-- модуль фильтр .end -->


                    </div>




            
                <!-- *************************************************************** -->
                <!-- Карточка информация -->
                <!-- *************************************************************** -->

                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
                                    <div>
                                        <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium"><sup class="set-doller">₽</sup>2 785 222,99</h2>
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Состояние счета
                                        </h6>
                                    </div>
                                    <div class="ml-auto mt-md-3 mt-lg-0">
                                        <span class="opacity-7">₽</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
                                    <div>
                                        <h4 class="text-dark mb-1 w-100 text-truncate font-weight-medium">Транзакции:
                                        </h4>
                                    </div>
                                </div>
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
                                    <div>
                                        <h6 class="font-weight-normal mb-0 w-100 text-truncate">Приход
                                        </h6>
                                    </div>
                                    <div class="ml-auto mt-md-1">+ 3 485 
                                        <span class="opacity-7">₽</span>
                                    </div>
                                </div>
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
                                    <div>
                                        <h6 class="font-weight-normal mb-0 w-100 text-truncate">Расход
                                        </h6>
                                    </div>
                                    <div class="ml-auto mt-md-1">- 22 100 
                                        <span class="opacity-7">₽</span>
                                    </div>
                                </div>
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
                                    <div>
                                        <h6 class="font-weight-normal mb-0 w-100 text-truncate">Сальдо
                                        </h6>
                                    </div>
                                    <div class="ml-auto mt-md-1">- 8 100 
                                        <span class="opacity-7">₽</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


        <!-- *************************************************************** -->
        <!-- ТАБЛИЦА - ПОДРОБНАЯ ИФНОРМАЦИЯ -->
        <!-- *************************************************************** -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Подробная информация</h4>
                        <h6 class="card-subtitle">Полный список всех операции по текущему проекту. Вы можете изменить или удалить нужную запись, достаточно кликнув по ней.</h6>
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered no-wrap table-hover tabel-modif">
                                <thead> <!-- Заголовок таблицы -->
                                <tr>
                                    <th>Признак блокировки</th>
                                    <th>Дата операции</th>
                                    <th>Сумма</th>
                                    <th>Детали</th>
                                    <th>Контрагент</th>
                                    <th>Реквизиты</th>
                                </tr>
                                </thead>
                                <tbody> <!-- сюда вываливаються данные из в карточки РАСХОД и ПРИХОД -->
                                    <tr th:each="c: ${financedata}">
                                        <th th:text="${c.lockflg}">1</th><!--Признак блокировки-->
                                        <th th:text="${c.operdate}">2</th><!--Дата операции-->
                                        <th th:text="${c.amount}">3</th><!--Сумма-->
                                        <th th:text="${c.detail}">4</th><!--Детали-->
                                        <th th:text="${c.strattr1}">5</th><!--Контрагент-->
                                        <th th:text="${c.strattr2}">6</th><!--Реквизиты-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- *************************************************************** -->
        <!-- КОНЕЦ ЦЕНТРАЛЬНОГО БЛОКА -->
        <!-- *************************************************************** -->
                
        </div>
    
    </section>

</div>

    

    

    
    
    
   
    
</body>

<!-----------IVRIBIN User Script----------------------------->
<script src="/webapp/js/jquery-1.9.1.min.js"></script>

<script type="text/javascript">
    function doAjax() {
        var inputText = $("#input_str").val();
        $.ajax({
            url : 'Method_1',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            mimeType: 'application/json',
            data : ({
                text: inputText
            }),
            success: function (data) {

                var result = '"'+data.text+'", '+data.count+' characters';
                $("#result_text").text(result);
            }
        });
    }
</script>


<!------------FRAMEWORK Script----------------------------->
<!-- Bootstrap core JavaScript-->
<script src="/framework/vendor/jquery.min.js"></script>
<script src="/framework/vendor/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/framework/vendor/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/framework/vendor/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="/framework/vendor/jquery.dataTables.min.js"></script>
<script src="/framework/vendor/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="/framework/vendor/datatables-demo.js"></script>

</html>